<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="{% url 'products:list' %}"><button>청순 수연</button></a>
        <form action="{% url 'products:search' %}" method="GET">
        <input type="text", name='keyword'>
        <button>search</button>
        </form>
        {% if request.user.is_authenticated %}
        <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="logout">
        </form>
        <a href="{% url 'products:create' %}">새 글 작성</a>
        <form action="{% url 'accounts:delete' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="delete">
        </form>
        <a href="{% url 'accounts:profile' request.user.username %}">내 프로필</a>
        {% else %}
            <a href="{% url 'accounts:login' %}">login</a>
            <a href="{% url 'accounts:signup' %}">signup</a>
        {% endif %}
    </nav>
    {% for message in messages %}
    <li> {{ message }} </li>
    {% endfor %}

    {% block content %}
    {% endblock content %}
</body>
</html>